/* *{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
} */
.card-header {
    color: black !important;
    background-color: #ffe586 !important;
}
.card-footer {
    color: black !important;
    background-color: #ffe586 !important;
}
.banner{
	background-color: #ffe586;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
	border-color: #d8d8d8;
	/* border-color: #d8d8d8; */
	border-width: 1px;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
}
.dashboard{
	background-color: white;
	padding: 10px;
	border-color: #d8d8d8;
	border-width: 1px;
	border-style: solid;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}
.img{
	object-fit: cover;
	max-width: 100%;
}
.ad{
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
	border-color: #d8d8d8;
	/* border-color: #d8d8d8; */
	border-width: 1px;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
}

.button-wrapper{
	margin-bottom: 15px;
}

.spacer{
	margin-top: 30px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#ffc107;
	color: white;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.loader-wrapper{
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #d8d8d8;
  font-size: 5px;
  margin: 20px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
