{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% comment %} user page, feed, and ads {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="spacer"></div>

            {% comment %} user page upper elements {% endcomment %}
            <div id="user-page-elements">
                <h5 id="user-page-banner" class="banner"></h5>
                    <div class="row"> 
                        <div class="col">
                            <div class="dashboard" id="user-page-item1">
                            </div>
                        </div>
                        <div class="col">
                            <div class="dashboard" id="user-page-item2">
                            </div>
                        </div>
                        <div class="col">
                            <div class="dashboard" id="user-page-item3">
                            </div>
                        </div>
                    </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>

            <div id="all-posts-feed">
                {% if user.is_authenticated %}
                <div class="button-wrapper">
                    <button id="new-post-button-big" type="button" class="btn btn-warning" data-toggle="modal" data-target="#new-post-modal">Write a new post</button>
                </div>
                {% endif %}
                <h5 id="feed-banner" class="banner">All posts</h5>
                <div class="loader" id="loader">Loading...</div>
                <div id="all-posts-feed-inner"></div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
            <div class="spacer"></div>
            <div class="ad">
                <h5>Buy this stuff!</h5>
                <a href="https://www.amazon.com/Snickers/s?k=Snickers" target="_blank"> <img src="https://www.candywarehouse.com/item-images/127952-01_snickers-candy-bars-48-piece-box.jpg" alt="Snickers" class="img"></a>
            </div>
            <div class="ad">
                <h5>Buy this stuff!</h5>
                <a href="https://www.amazon.com/Snickers/s?k=Snickers" target="_blank"> <img src="https://www.candywarehouse.com/item-images/127952-01_snickers-candy-bars-48-piece-box.jpg" alt="Snickers" class="img"></a>
            </div>
            <div class="ad">
                <h5>Buy this stuff!</h5>
                <a href="https://www.amazon.com/Snickers/s?k=Snickers" target="_blank"> <img src="https://www.candywarehouse.com/item-images/127952-01_snickers-candy-bars-48-piece-box.jpg" alt="Snickers" class="img"></a>
            </div>
            <div class="ad">
                <h5>Buy this stuff!</h5>
                <a href="https://www.amazon.com/Snickers/s?k=Snickers" target="_blank"> <img src="https://www.candywarehouse.com/item-images/127952-01_snickers-candy-bars-48-piece-box.jpg" alt="Snickers" class="img"></a>
            </div>
            <div class="ad">
                <h5>Buy this stuff!</h5>
                <a href="https://www.amazon.com/Snickers/s?k=Snickers" target="_blank"> <img src="https://www.candywarehouse.com/item-images/127952-01_snickers-candy-bars-48-piece-box.jpg" alt="Snickers" class="img"></a>
            </div>
        </div>
    </div>
</div>

{% comment %} floating button {% endcomment %}
    {% if user.is_authenticated %}
    <a id="new-post-button" href="#" class="float" data-toggle="modal" data-target="#new-post-modal">
        <i class="fas fa-pen my-float"></i>
    </a>

{% comment %} new post form modal {% endcomment %}
<div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="new-post-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-post-modal-label">Create a new Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="compose-form" onsubmit="return false">
      <div class="modal-body">
        <div id="new-post-form">     
            {{ new_post_form.as_p }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="cancel-new-post-modal" data-dismiss="modal">Cancel</button>
        {% comment %} <button type="button" class="btn btn-primary">Post</button> {% endcomment %}
        <input type="submit" class="btn btn-warning" value="Post"/>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}