{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id="success-top" class="alert alert-success" role="alert">
        Posted successfully!
    </div>

    {% if user.is_authenticated %}
    <div id="new-post-form">
        <h3>New Post</h3>
        <div class="container">
            <div id="compose-view">
                <form id="compose-form" onsubmit="return false">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    {{ new_post_form.as_p }}
                    </div>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="all-posts-feed">
        <h3>All posts</h3>
        <div id="all-posts-feed-inner"
        </div>
    </div>

    <a id="new-post-button" href="#" class="float">
        <i class="fas fa-pen my-float"></i>
    </a>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}